/* color */
:root {
    --color1: #F3F1EF;
    --color2: #9D9084;
    --color3: #2C2626;
}


/* ////////////////////
テキストここから
//////////////////// */

/* text color */
.text-col1 {
    color: var(--color2);
}

/* text */
html{
    font-size: 62.5%;
    background-color: var(--color1);
    width: 100%;
    color: var(--color3);
}

body{
    font-family: 'Shippori Mincho B1', serif;
    font-style: normal;
}

.headline1 {
    font-size: 1.8rem;/* 18px*/
    line-height: 125%;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
.body-top {
    font-size: 1.3rem;/* 13px*/
    line-height: 123%;
    font-weight: 500;
}
.concept-bg .headline1 {
    font-family: 'Lato', sans-serif;
    font-size: 4.4rem;/* 44px*/
    line-height: 100%;
    font-weight: 700;
}
.headline2 {
    font-size: 2.0rem;/* 20px*/
    line-height: 200%;
    font-weight: 600;
}
.headlineEN {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;/* 14px*/
    line-height: 100%;
    font-weight: 400;
}
.commming-soon {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;/* 18px*/
    line-height: 100%;
    font-weight: 400;
}
.body1 {
    font-size: 1.6rem;/* 16px*/
    line-height: 200%;
    font-weight: 600;
}
.body2 {
    font-size: 1.4rem;/* 14px*/
    line-height: 150%;
    font-weight: 500;
}
.body2-concept {
    font-size: 1.4rem;/* 14px*/
    line-height: 200%;
    font-weight: 500;
}
.body3 {
    font-size: 1.3rem;/* 13px*/
    line-height: 144%;
    font-weight: 500;
}




/* list */
ul {
    list-style:inside;
    list-style-type: disc;
	list-style-position: outside;
    padding-left: 20px;
}


/* catch */
.catch {
    display: flex;
    align-items: center; /* 垂直中心 */
    justify-content: center; /* 水平中心 */
}
.catch:before, .catch:after {
    border-top: 0.1px solid;
    content: "";
    width: 2.8em; /* 線の長さ */
}
.catch:before {
    margin-right: 0.7em; /* 文字の右隣 */
}
.catch:after {
    margin-left: 0.7em; /* 文字の左隣 */
}
  




/* ////////////////////
headerここから
//////////////////// */






/* ////////////////////
Bodyここから
//////////////////// */

/* wrapper */
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
    
    background-color: var(--color1);
}
.section-wrapper { 
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 960px;
    width: 100%;
}
.section-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    width: calc((280/320) * 100%);

    padding: 30px 0;
    margin: 30px auto;
    background-color: var(--color1);
}
.title-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    width: calc((260/280) * 100%);

}
.text-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 768px;
    width: calc((260/280) * 100%);

}


/* background */
.top-bg{
    background-color: var(--color1);
    width: 100%;
}
.concept-bg{
    background: url("images/concept.png") repeat bottom center / cover;
    width: 100%;
}
.info-bg{
    background: url("images/information.png") repeat bottom center / cover;
    width: 100%;
}
.covid19-bg{
    background: url("images/covid19.png") repeat bottom center / cover;
    width: 100%;
}
.web-bg{
    background: url("images/webexhibition.png") repeat bottom center / cover;
    width: 100%;
}
.sns-bg{
    background: url("images/SNS.png") repeat bottom center / cover;
    width: 100%;
}



/* top */
.section-container-top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 768px;
    width: calc((280/320) * 100%);
    min-height: 687px;


    margin-top: 20px;
    padding-top: 40px;
    background: url("images/firstview.png") repeat bottom center / cover;
}
.text-container-top{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    padding: 10px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    background-color: var(--color1);
}
.annotation-top{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    padding: 10px 10px;
    background-color: var(--color1);
    text-align: center;

    margin-top: 32px;
    margin-bottom: 70%;
}


/* circle */
.circle-wrap{
    position: relative;
}
.circle{
    position: absolute;
    z-index: 1; 
    bottom: calc(-87.6vw/ 2);
    width: 87.6vw;
    max-width: 768px;
    max-height: 768px;
    height: 87.6vw;
    color: var(--color1);
    background-color: var(--color1);
    line-height: 100px;
    text-align: center;
    border-radius: 50%; 
}
.concept-bg .section-container{
    margin-top: -1px;
    margin-bottom: 30px;
}

.top{
    z-index: 999;
}



/* concept */
.line-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 4px;
    background: url("images/concept.png") repeat center center / cover;
}




/* info */
.map-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    width: calc((260/280) * 100%);

}
.map {
    width: 100%;
    position: relative;
    padding-top: 76.92%;
}
  
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* web */
.web-button:hover{
    opacity: 0.7;
    transition: ease-in-out 0.1s;
}
.web-button{
    background:url('images/webexhibition.png') no-repeat center center / cover;
    border-radius: 60px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 41px;
}
.Web-buttonText {
    background-color: var(--color1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.web-button .body2{
    font-weight: 600;
}




/* SNS */
.sns-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    height: 80px;
    width: calc((260/280) * 100%);
}
.sns-container a img:hover{
    width: 80px;
    transition: ease-in-out 0.1s;

}
.sns-container img{
    margin: 0 8px;
}
.sns-bg .title-container .headlineEN{
    font-weight: 600;
}



/* ////////////////////
footerここから
//////////////////// */
footer {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
    height: 36px;
    
    background: url("images/footer.png") no-repeat center center / cover;

    font-family: 'Shippori Mincho B1', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 100%;
    text-align: center;
}

.footer-container{
    width: calc((280/320) * 100%);
    max-width: 768px;
    background-color: var(--color1);
    /* padding: 2px 14.5px; */
}

.footer-container p{
    display: block;
    text-align: center;
    transform: scale(0.9);
}












/* ////////////////////
margin padding base
//////////////////// */
.mt30{
    margin-top: 30px;
}

.mb4{
    margin-bottom: 4px;
}
.mb6{
    margin-bottom: 6px;
}
.mb14{
    margin-bottom: 14px;
}
.mb12{
    margin-bottom: 12px;
}
.mb20{
    margin-bottom: 20px;
}
.mb24{
    margin-bottom: 24px;
}
.mb28{
    margin-bottom: 28px;
}
.mb32{
    margin-bottom: 32px;
}
.mb40{
    margin-bottom: 40px;
}  
.mb60{
    margin-bottom: 60px;
}  



@media screen and (min-width: 768px) {/* 768px以上*/

    .headline1 {
        font-size: 2.4rem;/* 24px*/
    }
    .body-top {
        font-size: 2.4rem;/* 24px*/
    }






    .section-container {
        max-width: 320px;
        margin: 0px auto;
    }
    .title-container {
        max-width: 320px;
    }
    .text-container {
        max-width: 320px;
    }
    .annotation-top{
        margin-top: 240px;
        margin-bottom: 140px;
    }
    .section-container-top {
        max-width: 320px;
        margin-top: -1px;
    }
    .circle{
        display: none;
    }
    .concept-bg .section-container{
        margin: -2px auto;
    }






    .text-container-top {
        margin-top: 95px;
    }
    .section-container-top {
        background: var(--color1);
    }
    .top-bg{
        background: url("images/firstview.png") repeat top center / cover;
        background-size: 33.3%; 
        transform: rotate(180deg);
    }
    .top-bg .section-container-top{
        transform: rotate(-180deg);
    }
    .concept-bg{
        background-size: 33.3%;
    }
    .concept-bg .section-container{
        border-radius: 50%;
        max-width: 698px;
        max-height: 698px;
        width: 87.6vw;
        height: 87.6vw;
    }
    .info-bg{
        background-size: 33.3%;
    }
    .covid19-bg{
        background-size: 33.3%;
    }
    .web-bg{
        background-size: 33.3%;
    }
    .sns-bg{
        background-size: 33.3%;
    }




    .footer-container{
        max-width: 280px;
    }









}